@media screen and (max-width : 1914px)
        {
            #showc{
            display: none;

        }
        }

@media screen and (max-width : 1914px)
        {
            #carouselExampleIndicators{
            display: block;
            margin-left: 17rem;
            margin-right: 17rem;
           
        }
        }