#fot{
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-top: 5rem;
    background-color: black;
}

#smf{
    color: white;
    font-size: 0.6rem;
}

.textd{
    color: rgb(196, 196, 196);
    
}

.fbuttons{
    text-decoration: none;
    color: rgb(196, 196, 196);
}

.fbuttons:hover{
    text-decoration: underline;
    color: rgb(238, 238, 238);
}